body,html,body{
    font-family: $font-family-VarelaRound-Regular;
    box-sizing: border-box;
    line-height: 120%;
    font-size: 1rem;
   
}
a{
    text-decoration: none;
}

select,input,button,textarea{
    outline: none;
}
select{
    cursor: pointer;
}

.container{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.row{
    padding-left: 15px;
    padding-right: 15px;
}

