.slider-image {
    width: 100%;
    height: 100vh;

    &__items {
        li {
            display: inline-block;

            img {
                width: 100%;
                height: 100vh;
            }
        }
    }
}

/*
Header section
*/
header.home-page {
    position: absolute;
    left: 0;
    right: 0;
}

.home-page__menu {
    display: flex;
    flex-direction: row;
    height: 4.25rem;

    &__buttons {
        background-color: $green;
        text-align: center;
        flex: 0;

        a {
            color: white;
            display: inline-block;
            font-size: 14px;
            padding: 25px;
        }
    }

    &__hover {
        background-color: $green;
        flex: 8;
        opacity: 0;

        &__list {
            padding: 0.875rem;

            li {
                display: inline-block;
                padding: 0.6875rem 1.25rem;

                a {
                    color: #2d7d27;
                    font-size: 0.875rem;
                }
            }

            li:last-child {
                margin-right: 0;
                float: right;

                a {
                    font-size: 1.375rem;
                }
            }

            li:hover {
                background-color: #46a13f;

                a {
                    color: white;
                }
            }

            li:last-child:hover {
                background-color: transparent;
                opacity: 0.9;
            }
        }
    }
}

/*Header details */
.home-page__details {
    display: flex;
    flex-direction: row;

    //logo
    &__logo {
        flex: 2;
        height: 6.875rem;
        background-color: $dark;
        overflow: hidden;

        &__area {
            display: flex;
            justify-content: center;
            // padding-top: 20px;

            img {
                object-fit: contain;
                width: 100%;
            }
        }
    }

    // searchBAR
    &__searchBar {
        flex: 8;
        display: flex;
        flex-direction: column;

        &__up {
            // background-color: $blue;
            display: flex;
            flex-direction: row;
            height: 3.75rem;

            &__contact {
                flex: 2;
                background-color: $blue;
                margin-right: 1px;
                padding-top: 0.9375rem;
                padding-bottom: 0.9375rem;
                padding-right: 4px;
                padding-left: 0.9375rem;

                .contact-area {
                    color: white;
                    font-size: 0.875rem;
                    display: flex;
                    align-items: center;
                }
            }

            &__menu {
                flex: 8;
                background-color: white;
                height: 3.75rem;
                display: flex;
                flex-direction: row;

                // justify-content: flex-end;
                // margin-right: 1px;
                &__content {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    &__first {
                        .searchBar__links {
                            padding: 0.875rem;

                            li {
                                display: inline-block;
                                padding: 0.5rem 1.125rem;
                                border-right: 0.0625rem solid $light;

                                a {
                                    font-size: 0.875rem;
                                    color: #7c848b;
                                }

                                &:hover a {
                                    color: black;
                                    transition: all 0.3s ease-in;
                                }
                            }

                            li:last-child {
                                border: 0;
                            }
                        }
                    }

                    &__second {
                        .searchBar__social-links {
                            padding: 0.8125rem;

                            li {
                                display: inline-block;
                                padding: 0.6875rem;

                                a {
                                    color: #7c848b;
                                    font-size: 0.875rem;
                                }

                                &:hover a {
                                    color: black;
                                    transition: all 0.3s ease-in;
                                }
                            }
                        }
                    }
                }






            }
        }

        &__down {
            display: flex;
            flex-direction: row;
            margin-top: 0.0625rem;
            height: 3.0625rem;

            .searchBar__down__select-form {
                flex: 1;
                position: relative;
                display: block;
                overflow: hidden;
                line-height: 3;
                background-color: #dfe7ee;
                margin-right: 0.0625rem;
                background-image: url(../img/arrow.png);
                background-repeat: no-repeat;
                background-position-x: 90%;
                background-position-Y: 50%;


                select {
                    width: 100%;
                    height: 100%;
                    color: #4a525d;
                    text-transform: uppercase;
                    font-size: 0.875rem;
                    border: none;
                    background-color: transparent;
                    padding: 0 0 0 0.9375rem;
                    letter-spacing: 0.05rem;
                    appearance: none;
                    transition: all .2s ease-in;

                    &:hover {
                        background: #c3ccd45e !important;
                    }

                    option {
                        background-color: #c3ccd45e;
                        border: none;
                        outline: none;
                    }
                }
            }

            .searchBar__down__button {
                display: flex;
                flex-direction: row;
                flex: 1.6;
                font-size: 0.875rem;

                &__first {
                    background-color: #f4903f;
                    flex: 1;
                    padding: 15px;
                    text-align: center;

                    &:hover {
                        opacity: 0.9;
                    }

                    a {
                        color: #c45706;
                        text-transform: uppercase;

                        i {
                            margin-right: 0.3125rem;
                        }
                    }
                }

                &__second {
                    background-color: $dark;
                    flex: 1;
                    padding: 15px;
                    text-align: center;

                    &:hover {
                        opacity: 0.9;
                    }

                    a {
                        color: #ffffff;
                        text-transform: uppercase;

                        i {
                            margin-right: 0.3125rem;
                        }
                    }
                }
            }
        }
    }

}

/*Header details */
/*Header footer */
.home-page__details__footer {
    display: flex;
    flex-direction: row;
    margin-top: 0.0625rem;

    &__flex-first {
        flex: 2;
    }

    &__flex-second {
        flex: 8;
        display: flex;
        flex-direction: column;
        // .searchBar__footer__select-form {
        //     flex: 1;
        //     position: relative;
        //     display: block;
        //     overflow: hidden;
        //     line-height: 3;
        //     background-color: #dfe7ee;
        //     margin-right: 0.0625rem;
        //     background-image: url(../img/arrow.png);
        //     background-repeat: no-repeat;
        //     background-position-x: 90%;
        //     background-position-Y: 50%;

        //     select {
        //         width: 100%;
        //         height: 100%;
        //         color: #4a525d;
        //         text-transform: uppercase;
        //         font-size: 0.875rem;
        //         border: none;
        //         background-color: transparent;
        //         padding: 0 0 0 0.9375rem;
        //         letter-spacing: 0.05rem;
        //         appearance: none;
        //         transition: all .2s ease-in;

        //         &:hover {
        //             background: #c3ccd45e !important;
        //         }

        //         option {
        //             background-color: #c3ccd45e;
        //             border: none;
        //             outline: none;
        //         }
        //     }

        //     input{
        //         border: none;
        //         color: #4a525d;
        //         text-transform: uppercase;
        //         font-size: 0.875rem;
        //         width: 100%;
        //         height: 100%;
        //         text-indent: 15px;
        //         background-color: #dfe7ee;
        //         &:hover {
        //             background: #c3ccd45e !important;
        //         }
        //     }
        //     input:last-child{
        //         flex: 1.6;
        //     }
        // }
        &__up {
            display: flex;
            flex-direction: row;
            height: 3.0625rem;

            .searchBar__footer__select-form {
                flex: 1;
                position: relative;
                display: block;
                overflow: hidden;
                line-height: 3;
                background-color: #dfe7ee;
                margin-right: 0.0625rem;
                background-image: url(../img/arrow.png);
                background-repeat: no-repeat;
                background-position-x: 90%;
                background-position-Y: 50%;

                select {
                    width: 100%;
                    height: 100%;
                    color: #4a525d;
                    text-transform: uppercase;
                    font-size: 0.875rem;
                    border: none;
                    background-color: transparent;
                    padding: 0 0 0 0.9375rem;
                    letter-spacing: 0.05rem;
                    appearance: none;
                    transition: all .2s ease-in;

                    &:hover {
                        background: #c3ccd45e !important;
                    }

                    option {
                        background-color: #c3ccd45e;
                        border: none;
                        outline: none;
                    }
                }
            }

            .searchBar__footer__select-form__devide {
                display: flex;
                flex-direction: row;
                flex: 1.6;

                .searchBar__footer__select-form {
                    flex: 1;
                }

                .searchBar__footer__select-form:last-child {
                    margin-right: 0px;
                }
            }

        }

        &__down {
            display: flex;
            flex-direction: row;
            height: 3.0625rem;
            margin-top: 0.0625rem;

            .searchBar__footer__select-form {
                flex: 1;
                position: relative;
                display: block;
                overflow: hidden;
                line-height: 3;
                background-color: #dfe7ee;
                margin-right: 0.0625rem;
                background-image: url(../img/arrow.png);
                background-repeat: no-repeat;
                background-position-x: 90%;
                background-position-Y: 50%;

                select {
                    width: 100%;
                    height: 100%;
                    color: #4a525d;
                    text-transform: uppercase;
                    font-size: 0.875rem;
                    border: none;
                    background-color: transparent;
                    padding: 0 0 0 0.9375rem;
                    letter-spacing: 0.05rem;
                    appearance: none;
                    transition: all .2s ease-in;

                    &:hover {
                        background: #c3ccd45e !important;
                    }

                    option {
                        background-color: #c3ccd45e;
                        border: none;
                        outline: none;
                    }
                }


                // input:last-child{
                //     flex: 1.6;
                // }
            }

            .searchBar__footer__select-form__input {
                flex: 1;
                position: relative;
                display: block;
                overflow: hidden;
                line-height: 3;
                background-color: #dfe7ee;
                margin-right: 0.0625rem;

                input {
                    border: none;
                    color: #4a525d;
                    text-transform: uppercase;
                    font-size: 0.875rem;
                    width: 100%;
                    height: 100%;
                    text-indent: 15px;
                    background-color: #dfe7ee;

                    &:hover {
                        background: #c3ccd45e !important;
                    }
                }
            }

            .searchBar__footer__select-form__flex-end {
                flex: 1.6;

                .searchBar__footer__select-form__input {
                    height: 100%;
                    width: 100%;
                }
            }
        }


    }
}

/*Header footer */





/*Header details */
/*
Header section
*/