.slider-image {
    width: 100%;
    height: 100vh;

    &__items {
        li {
            display: inline-block;

            img {
                width: 100%;
                height: 100vh;
            }
        }
    }
}

/*
Header section
*/
header.home-page {
    position: absolute;
    left: 0;
    right: 0;
}

.home-page__menu {
    display: flex;
    flex-direction: row;
    height: 4.25rem;

    &__buttons {
        background-color: $green;
        text-align: center;
        flex: 0;

        a {
            color: white;
            display: inline-block;
            font-size: 14px;
            padding: 25px;
        }
    }

    &__hover {
        background-color: $green;
        flex: 8;
        opacity: 0;

        &__list {
            padding: 0.875rem;

            li {
                display: inline-block;
                padding: 0.6875rem 1.25rem;

                a {
                    color: #2d7d27;
                    font-size: 0.875rem;
                }
            }

            li:last-child {
                margin-right: 0;
                float: right;

                a {
                    font-size: 1.375rem;
                }
            }

            li:hover {
                background-color: #46a13f;

                a {
                    color: white;
                }
            }

            li:last-child:hover {
                background-color: transparent;
                opacity: 0.9;
            }
        }
    }
}

/*Header details */
.home-page__details {
    display: flex;
    flex-direction: row;

    //logo
    &__logo {
        flex: 2;
        height: 110px;
        background-color: $dark;

        &__area {
            display: flex;
            justify-content: center;
            // padding-top: 20px;

            img {
                object-fit: contain;
                width: 100%;
            }
        }
    }

    // searchBAR
    &__searchBar {
        flex: 8;
        display: flex;
        flex-direction: column;

        &__up {
            // background-color: $blue;
            display: flex;
            flex-direction: row;
            height: 3.75rem;

            &__contact {
                flex: 2;
                background-color: $blue;
                display: flex;
                justify-content: center;
                margin-right: 0.0938rem;

                .contact-area {
                    align-self: center;
                    color: white;
                    font-size: 0.875rem;
                    display: flex;
                    align-items: center;

                    // &__icon {
                    //     padding-top: 0.375rem;
                    //     color: #0080bc;

                    // }
                }
            }

            &__menu {
                flex: 8;
                background-color: white;
                height: 3.75rem;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;


                .searchBar__links {
                    padding: 0.875rem;
                    li {
                        display: inline-block;
                        padding: 0.5rem 1.125rem;
                        border-right: 0.0625rem solid $light;
                        a {
                            font-size: 0.875rem;
                            color: #7c848b;
                        }
                        &:hover a {
                            color: black;
                            transition: all 0.3s ease-in;
                        }
                    }

                    li:last-child {
                        border: 0;
                    }
                }

                .searchBar__social-links {
                    padding: 0.8125rem;
                    li {
                        display: inline-block;
                        padding: 0.6875rem;
                        a {
                            color: #7c848b;
                            font-size: 0.875rem;
                        }
                        &:hover a {
                            color: black;
                            transition: all 0.3s ease-in;
                        }
                    }
                }


            }
        }

        &__down {
            background-color: green;
            background-color: green;

            .searchBar__down__select-form {
                select {}

                option {}
            }

            .searchBar__down__button {
                &__first {}

                &__second {}

                a {
                    .fa.fa-plus-circle {}

                    &:hover {}

                    &:active {}

                    &:focus {}
                }

                a {
                    .fa.fa-search {}

                    &:hover {}

                    &:active {}

                    &:focus {}
                }
            }
        }
    }

}


.home-page__details__footer {
    &__up {
        .searchBar__footer__select-form {
            select {}

            option {}
        }

        .searchBar__footer__select-form__devide {
            &__second {}

            select {
                option {}
            }
        }
    }

    &__down {
        &__select-form {
            input {}

            select {}

            option {}
        }
    }
}




/*Header details */
/*
Header section
*/