<header class="home-page">
    <div class="container">
        <div class="row">
            <!-- menu -->
            <div class="home-page__menu">
                <div class="home-page__menu__buttons">
                    <a class="" href="">MENU</a>
                </div>
                <div class="home-page__menu__hover">
                    <ul class="home-page__menu__hover__list">
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">LISTING</a></li>
                        <li><a href="#">PROPERTY</a></li>
                        <li><a href="#">NEWS</a></li>
                        <li><a href="#">GALLERY</a></li>
                        <li><a href="#">PAGES</a></li>
                        <li><a href="#">TYPES</a></li>
                        <li><a href="#">CONTACT US</a></li>
                        <li class="close-button">
                            <a href="#"><i class="fa fa-times-circle"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--  menu-->
            <div class="home-page__details">
                <!-- icon -->
                <div class="home-page__details__logo">
                    <div class="home-page__details__logo__area">
                        <img src="img/Residence.png" alt="Real Residence Logo" srcset="">
                    </div>
                </div>
                <!-- icon -->
                <!-- second line  -->
                <div class="home-page__details__searchBar">
                    <div class="home-page__details__searchBar__up">
                        <div class="home-page__details__searchBar__up__contact">
                            <div class="contact-area">
                                <img src="img/call.png" alt="">
                                <span>1-800-555-1234</span>
                            </div>
                        </div>
                        <div class="home-page__details__searchBar__up__menu">
                            <div class="home-page__details__searchBar__up__menu__content">
                                <!--searchBar--links-->
                                <ul class="searchBar__links">
                                    <li><a href="#">LOGIN</a></li>
                                    <li><a href="#">REGISTER</a></li>
                                    <li><a href="#">SUBMIT YOUR PROPERTY</a></li>
                                </ul>
                                <!--searchBar--links-->

                                
                                <!--searchBar--social--links-->
                                <ul class="searchBar__social-links">
                                    <li><a href="#"><i class="searchBar__social-links__icons fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="searchBar__social-links__icons fa fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="searchBar__social-links__icons fa fa-google-plus"></i></a>
                                    </li>
                                </ul>
                                <!--searchBar--social--links-->
                            </div>
                        </div>
                    </div>
                    <div class="home-page__details__searchBar__down">
                        <!--select form-->
                        <div class="searchBar__down__select-form">
                            <select name="" id="">
                                <option value="">Location</option>
                                <option value="">Location</option>
                            </select>
                        </div>
                        <div class="searchBar__down__select-form">
                            <select name="" id="">
                                <option value="">Property Status</option>
                            </select>
                        </div>
                        <div class="searchBar__down__select-form">
                            <select name="" id="">
                                <option value="">Property Id</option>
                            </select>
                        </div>
                        <!--select form-->
                        <!--buttons-->
                        <div class="searchBar__down__button">
                            <div class="searchBar__down__button__first">
                                <a href="#"><i class="fa fa-plus-circle"></i>ADVANCE</a>
                            </div>
                            <div class="searchBar__down__button__second">
                                <a href="#"><i class="fa fa-search"></i>SEARCH</a>
                            </div>
                        </div>
                        <!--buttons-->
                    </div>
                </div>
                <!-- second line  -->

            </div>
            <!-- header's footer third line -->
            <div class="home-page__details__footer">
                <div class="home-page__details__footer__flex-first"></div>
                <div class="home-page__details__footer__flex-second">
                    <!--home-page__details__footer__up-->
                    <div class="home-page__details__footer__flex-second__up">
                        <!--select form-->
                        <div class="searchBar__footer__select-form">
                            <select name="" id="">
                                <option value="">Child Location</option>
                                <option value="">Child Location</option>
                            </select>
                        </div>
                        <div class="searchBar__footer__select-form">
                            <select name="" id="">
                                <option value="">Keyword</option>
                            </select>
                        </div>
                        <div class="searchBar__footer__select-form">
                            <select name="" id="">
                                <option value="">Property Type</option>
                            </select>
                        </div>
                        <div class="searchBar__footer__select-form__devide">
                            <div class="searchBar__footer__select-form">
                                <select name="" id="">
                                    <option value="">Min Price</option>
                                </select>
                            </div>
                            <div class="searchBar__footer__select-form">
                                <select name="" id="">
                                    <option value="">Max Price</option>
                                </select>
                            </div>
                        </div>
                        <!--select form-->
                    </div>
                    <!--home-page__details__footer__up-->

                    <!--home-page__details__footer__down-->
                    <div class="home-page__details__footer__flex-second__down">
                        <!--select form-->
                        <div class="searchBar__footer__select-form">
                            <select name="" id="">
                                <option value="">Bedrooms</option>
                            </select>
                        </div>
                        <div class="searchBar__footer__select-form">
                            <select name="" id="">
                                <option value="">Bathroom</option>
                            </select>
                        </div>
                        <div class="searchBar__footer__select-form__input">
                            <input type="text" name="" id="" placeholder="SQ.FREE (MIN)">
                        </div>
                        <div class="searchBar__footer__select-form__flex-end">
                            <div class="searchBar__footer__select-form__input">
                                <input type="text" name="" id="" placeholder="SQ.FREE (MAX)">
                            </div>
                        </div>
                        <!--select form-->
                    </div>
                    <!--home-page__details__footer__down-->
                </div>
                <!-- header's footer third line -->
            </div>
        </div>
</header>
<!-- slider -->
<div class="slider-image">
    <ul class="slider-image__items">
        <li>
            <img src="img/slider_image.png" alt="" srcset="">
        </li>
    </ul>
</div>
<!-- slider -->